# Ignorar a pasta node_modules (onde as dependências do npm ficam)
node_modules/

# Ignorar o arquivo .env (que pode conter credenciais sensíveis)
.env

# Ignorar arquivos de texto para desenvolvimento
DIARIO
PASSOS

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
